In [5]:
import pandas as pd
import numpy as np
import scipy.stats

In [2]:
df = pd.read_csv('subject_dependent_model_metrics.csv')

In [3]:
df

    subject  valence_accuracy  arousal_accuracy  overall_accuracy
0         1             97.75             97.75             97.00
1         2             97.75             98.75             97.00
2         3             98.75             99.00             97.75
3         4             96.00             98.50             95.75
4         5             99.25             98.00             97.25
5         6            100.00             99.50             99.50
6         7            100.00            100.00            100.00
7         8             99.75             99.50             99.50
8         9             96.00             98.50             95.75
9        10             98.25             98.25             98.25
10       11             95.50             90.50             88.25
11       12             98.00             99.25             98.00
12       13             98.75             99.25             98.00
13       14             99.75            100.00             99.75
14       15             99.00             99.75             98.75
15       16             99.50             99.50             99.50
16       17             89.75             88.75             83.75
17       18             99.50             99.75             99.25
18       19             97.50             98.75             96.25
19       20             97.00             99.00             96.50
20       21             98.75             97.75             97.25
21       22             93.50             94.25             91.00
22       23             98.25             96.00             95.50
23       24             93.00             97.25             92.75
24       25             96.50             99.25             96.50
25       26             93.25             91.25             90.00
26       27             99.25             99.50             98.75
27       28             98.00             97.25             96.75
28       29             96.50             96.00             95.50
29       30             98.75             98.00             98.00
30       31             99.00             97.25             97.00
31       32             96.25             98.00             95.25

In [4]:
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

In [10]:
print(mean_confidence_interval(df['overall_accuracy']))
print(mean_confidence_interval(df['valence_accuracy']))
print(mean_confidence_interval(df['arousal_accuracy']))

(np.float64(96.25), np.float64(94.95369408598202), np.float64(97.54630591401798))
(np.float64(97.4609375), np.float64(96.60214217491544), np.float64(98.31973282508456))
(np.float64(97.625), np.float64(96.6254898895997), np.float64(98.6245101104003))